body{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    background-origin: content-box;
    background-position: center;
    backdrop-filter: blur(50px);
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;

}
.game-board {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr); /* Динамические колонки */
    grid-template-rows: repeat(var(--rows), 1fr);
    gap: 5px;
    width: 90vmin; /* Используем vmin для адаптивности */
    height: 90vmin;

    margin: 20px auto;


    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #b894e8;
    border:3px solid #9f2566
}
@media (max-width: 500px) {
    .game-board {
        width: 95vw;
        height: 95vw;
        gap: 2px;
        padding: 2px;
    }
}
.cell {
    background-color: rgba(50, 31, 55, 0.66);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid darkred;
    border-radius: 3px;
    transition: .4s;
    opacity: .8;
    background-size: contain;
    background-position: center;
}

.cell:hover {
    background-color: #362155;
    filter: saturate(2);
}

.google-image {
    background-image: url("./assets/image/logo.png");
      opacity: 1;
}
.player1{
    background-image: url("./assets/image/player1.jpg");
    opacity: 1;
}
.player2{
    background-image: url("./assets/image/player2.jpg");
}